.root {
  flex-grow: 1;
}

.container {
  width: 100vw;
  display: flex;
  flex-grow: 1;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.left {
  flex-grow: 1;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.right {
  flex-grow: 2;
  padding: 15px;
}

.ticket-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.ticket-item:hover {
  background-color: #f2f2f2;
}

.search {
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
}
